# Advanced Quickstart Guide

This tutorial fllows the same formoat as `Quickstart Guide` but explores further functionality provided by twinLab.

In [1]:
# Third-party imports
import numpy as np
import pandas as pd

# Project imports
import twinlab as tl

{'username': 'jasper@digilab.co.uk', 'credits': 0}

         === TwinLab Client Initialisation ===
         Version  : 1.4.0
         User     : jasper@digilab.co.uk
         Server   : https://qisuqloa39.execute-api.eu-west-2.amazonaws.com/prod
         Key      : btUUe-IkGFOyuLun-HJAjg

### Upload a dataset

twinLab requires datasets to be uploaded to the cloud with a `dataset_id`. This is what the data is saved as in the cloud and how models are able to access the data for training. Data can be uploaded in the form of a `pandas` dataframes directly from your code.

> üìù **Note:** Your dataset must have column headers.

In [2]:
x = [0.6964691855978616,
0.28613933495037946,
0.2268514535642031,
0.5513147690828912,
0.7194689697855631,
0.42310646012446096,
0.9807641983846155,
0.6848297385848633,
0.48093190148436094,
0.3921175181941505]

y = [-0.8173739564129022,
0.8876561174050408,
0.921552660721474,
-0.3263338765412979,
-0.8325176123242133,
0.4006686354731812,
-0.16496626502368078,
-0.9607643657025954,
0.3401149876855609,
0.8457949914442409]

df = pd.DataFrame({'x': x, 'y': y})
display(df)

dataset_id = "example_data"

# Upload dataset using a local dataframe
tl.upload_dataset(df, dataset_id, verbose=True)

          x         y
0  0.696469 -0.817374
1  0.286139  0.887656
2  0.226851  0.921553
3  0.551315 -0.326334
4  0.719469 -0.832518
5  0.423106  0.400669
6  0.980764 -0.164966
7  0.684830 -0.960764
8  0.480932  0.340115
9  0.392118  0.845795

Dataframe is uploading.
Processing dataset.
Dataset example_data was processed.

Alternatively data can be upload directly from a csv by using a filepath. The filepath string is input into `tl.upload_dataset` in the exact same place the dataframe was.

In [3]:
df_filepath = "example_data_folder/example_data.csv"

dataset_id = "example_data"

# Upload the dataset to the cloud
tl.upload_dataset(df_filepath, dataset_id, verbose=True)

FileNotFoundError: [Errno 2] No such file or directory: 'example_data_folder/example_data.csv'

## View datasets

Once a dataset has been upload it can be easily acccesed using built in twinLab functions. A list of all uploaded dataset can be produced, individual datasets can be printed and you can even querey a dataset to get a statistical summary of it.

In [5]:
# List all uploaded datasets
tl.list_datasets()

          x         y
0  0.696469 -0.817374
1  0.286139  0.887656
2  0.226851  0.921553
3  0.551315 -0.326334
4  0.719469 -0.832518
5  0.423106  0.400669
6  0.980764 -0.164966
7  0.684830 -0.960764
8  0.480932  0.340115
9  0.392118  0.845795

In [ ]:


tl.view_dataset(dataset_id)